@import "tailwindcss";
:-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: prompt;
  src: url(./assets/font/Prompt-Regular.ttf);
}
* {
  font-family: prompt;
}
body {
  margin: 0 !important;
  padding: 0;
  width: 100svw !important;
  height: 100svh !important;
}
.BG {
  background-image: url(./assets/MainBG.png);
}
.stroke {
  -webkit-text-stroke: 1px oklch(0.588 0.158 241.966);
}
.theme {
  background: linear-gradient(to right, #a78bfa, #3b82f6);
}
.border_theme {
  background: linear-gradient(
        rgba(239, 246, 255, 255),
        rgba(239, 246, 255, 255)
      )
      padding-box,
    linear-gradient(to right, #a78bfa, #3b82f6) border-box;
  border: 3px solid transparent;
  border-radius: 0.775rem;
}
.shadow {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.247);
}
.transTL {
  transform: translate(-50%, -50%);
}
video {
  width: 100% !important;
  height: 90% !important;
  left: 0 !important;
  top: 10% !important;
  position: absolute !important;
  z-index: 1 !important;
}
.mindar-ui-overlay {
  position: absolute !important;
  height: 90% !important;
  top: 10% !important;
  z-index: 1 !important;
}
